<div class="instructions">
    <p ng-show="status == 'PLACE_SHIPS'">Plaats uw schepen in de zee.</p>
    <p ng-show="status == 'REPLACE_SHIPS'">
        U kunt uw schepen nog verschuiven.<br>
        Als u alle schepen definitief hebt geplaatst, druk dan op start. Daarna kunt u ze niet meer verplaatsen.
    </p>
    <p ng-show="status == 'IN_GAME' && enemyStatus != 'IN_GAME'">Wacht tot de tegenstander ook haar/zijn schepen heeft geplaatst.</p>
    <p ng-show="status == 'SHOOTING'">U mag drie schoten lossen naar de vijand.</p>
    <p ng-show="status == 'SHOOTED'">De vijand mag drie schoten lossen in uw gebied.</p>
    <p ng-show="status == 'WON'">U heeft gewonnen!! Alle schepen van de vijand zijn verwoest.</p>
    <p ng-show="status == 'LOST'">U heeft verloren!! Al uw schepen zijn verwoest.</p>
</div>

<div id="mySea" class="sea">
      <table>
        <tr ng-repeat="seaY in mySeaArray" bin="seaY">
          <td id="cell-{{seaX.y}}.{{seaX.x}}" droppable ng-repeat="seaX in seaY" bin="seaX" class="bin seacell" ng-class="{0:'water', 1:'splash', 2:'boat', 3:'hit'}[seaX.status]" drop="dropped(seaX.x, seaX.y)"></td>
        </tr>
      </table>
</div>

<div id="enemySea" class="sea" ng-show="status == 'SHOOTING' || status == 'SHOOTED' || status == 'WON' || status == 'LOST'">
      <table>
        <tr ng-repeat="seaY in seaArray" bin="seaY">
          <td ng-repeat="seaX in seaY" bin="seaX" class="bin" ng-class="{0:'water', 1:'splash', 2:'boat', 3:'hit'}[seaX.status]" ng-click="shoot(seaX.x,seaX.y)"></td>
        </tr>
      </table>
</div>


<br>
<input type="button" id="start" value="START" ng-click="start()" ng-show="status == 'REPLACE_SHIPS'"></input>
<div class="item undragged boat" id="item1" draggable item="item">1</div><br><br>
<div class="item undragged boat" id="item2" draggable item="item">2</div><br><br>
<div class="item undragged boat" id="item3" draggable item="item">3</div><br><br>

