%content {
  font-size: 15px;
  text-align: center;
  margin: 0 1px;
}
.bin {
  @extend %content;
  height: 30px;
  width: 30px;
  float: left;
  border: 1px solid red;
  padding: 1px;
}
.item {
  @extend %content;
  min-height: 30px;
  min-width: 30px;
  margin-bottom: 5px;
  float: left;
  transition: all 0.2s ease;
}
.drag {
  opacity: 0.5;
}
.over {
  background: #F0F0F0;
}

.water {
	background-color: #EEEEFF;
}

.splash {
	background-color: lightblue;
}

.boat {
	background-color: blue;
}

.hit {
    background-color: orange;
}

.sea {
	display:block;
	padding: 1em;
}